.spline {
  height: 100%;
  z-index: 2;
}

.h3Name {
  text-transform: uppercase;
  background-image: linear-gradient(
    to right top,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%,
    #6335ec 99%
  );
  background-size: 50% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 136px;
  margin: 0;
  animation: gradientAnim 7.5s ease alternate infinite;
  position: absolute;
  z-index: 5;
}

@keyframes gradientAnim {
  to {
    background-position: 100% top;
  }
}

.blackDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-image: linear-gradient(180deg, #342b4d, rgb(22, 22, 26));
}

@media only screen and (max-width: 480px) {
  .h3Name {
    position: absolute;
    font-size: 60px;
    top: 2px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  .h3Name {
    font-size: 103px;
  }

}
